*,body,h1,h2,h3,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cookie', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  

  .card-img:hover{
   
  }


  .aboutPara{
    font-style: italic;
    font-weight: normal;
  }